.featured{

    width: 100%;
  
    background-color: rgb(6, 7, 7);
    padding: 10px 2px;

}
.shows{
    width: 100%;
    height: 400px;
    /* background-color: red; */
    display: flex;
    gap: 10px;
}
.sectiontitle{
    color: azure;
    padding: 10px 20px;
    
}